
#orders{
    height: auto;
    width :100%;
    margin: 10px 50% 0px 0%;
    padding: 10px 20px;
}

.adminresult{
    height: auto;
    padding:0px; 
    margin:0;
    width: 100%;
}
.adminresult .order{
    margin:5px 20px 10px 0px;
    display: inline-block;
    height: auto;
    padding: 20px 50px 20px 20px;
    width: 100%;
}
.details p{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}
.details p span{
    font-size: 43px;
    padding: 10px 10px;
    margin: 0px 10px;
}
.orderadmin {
    margin: 100px 40px 0px 40px;
}

.orderadmin h1{
  color: #111;
  font-size: 20px;
  padding: 0px 0px 20px 0px;
  margin: 0  0 10px 0;
  border-bottom: 2px solid #111;
  width: auto;
  
}
.orderadmin .details .col-md-3{
  height: 150px;
}
  .orderadmin .details .col-md-3 p{
    border:1px solid #ccc;
    padding: 30px 20px;
    height: 100%;
    margin: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
  }
  .orderadmin .details .col-md-3:nth-child(1) p{
    background-color: #a45c40;
  }
  .orderadmin .details .col-md-3:nth-child(2) p{
    background-color: #a45c40;
  }
  .orderadmin .details .col-md-3:nth-child(3) p{
    background-color: #a45c40;
  }
  .orderadmin .details .col-md-3:nth-child(4) p{
    background-color: #a45c40;
  }
  #userdetails{
    padding: 0;
    line-height: 10px;
    margin-left: 45%;
  }
  #userdetails p{
    color:#a45c40;
    padding: 10px 0px 0px 0px;
    margin:0;
  }
  #userdetails p:nth-child(2){
    font-weight: bold;
  }
  @media screen and (max-width: 678px) {
    .orderadmin {
      margin: 100px 10px 0px 10px;
  }
  .orderadmin .details .col-md-3{
    height: 150px;
    margin: 10px 0px;
  }
    .orderadmin .details .col-md-3 p{
      border:1px solid #ccc;
      padding: 30px 20px;
      height: 100%;
      margin: 0px 0px 0px 0px;
      border-radius: 12px;
      color: #fff;
    }
    #orders{
      height: auto;
      width :100%;
      margin: 10px 0% 0px 0%;
      padding: 10px 20px;
  }
  }